<h1>Create an annotation</h1>

<h4>Enter a Youtube Video ID (e.g. wC9E5zxFwxg):</h4> <input type="text"></input>
<button id="play">Play</button> 
<button id="pause">Annotate (Pause)</button>
<br /><br />
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player"></div>    