<!doctype html>

<html>
<head>
    <title>ytann</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootstrap-social.css" rel="stylesheet">
    <!--<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>-->
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link href="/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">
  <img src="http://lorempixel.com/400/200" alt="ytan"><img>
  <h1 class="header">ytann</h1>
  <div class="login">
    <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
      <i class="fa fa-facebook"></i> Sign in with Facebook
    </a>
  </div>
  <div class="fb-facepile" data-app-id="{{app_id}}" data-max-rows="1" data-colorscheme="light" data-size="medium" data-show-count="true"></div>
  <hr>
<div>
  <div class="panel panel-primary">
    <div class="splash-heading panel-heading">
      <h3 class="panel-title">A better way to watch videos</h3>
    </div>
    <div class="panel-body">
      <p>ytann lets you easily create and consume videos with comments associated with them.
      </p>
    </div>
  </div>
  
  <div class="splash panel panel-primary">
    <div class="splash-heading panel-heading">
      <h3 class="panel-title">Foster Discussion</h3>
    </div>
    <div class="panel-body">
      <p>ytann allows you to leave your thoughts and questions on youtube videos.</p>
    </div>
  </div>

</div>
</div>

<footer class="navbar">
    <div class="container">
    <ul class="list-inline no_bottom_margin">
        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
    </ul>
    </div>
</footer>

<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>